@for (layer of layers(); track layer.id) {
  <div
    class="onion-skin-layer"
    [class.previous]="layer.position === 'prev'"
    [class.next]="layer.position === 'next'"
    [style.left.px]="layerRect().left"
    [style.top.px]="layerRect().top"
    [style.width.px]="layerRect().width"
    [style.height.px]="layerRect().height"
    [style.opacity]="layer.opacity"
  >
    <div
      class="onion-skin-tint"
      [style.left.px]="imageRect().left"
      [style.top.px]="imageRect().top"
      [style.width.px]="imageRect().width"
      [style.height.px]="imageRect().height"
      [style.background-color]="layer.color"
      [style.-webkit-mask-image]="'url(' + layer.onionPreviewUrl + ')'"
      [style.mask-image]="'url(' + layer.onionPreviewUrl + ')'"
      aria-hidden="true"
    ></div>
  </div>
}