.app {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 0;
}

.editors {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: 60%;
  padding: 0rem 1rem 1rem 0rem;
  box-sizing: border-box;
  align-items: stretch;
  min-height: 0;
}

.editors app-canvas {
  flex: 0 0 70%;
  height: 100%;
}

.editors app-script {
  flex: 0 0 30%;
  height: 100%;
}

app-timeline {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  min-height: 0;
}
