:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.timeline {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bg-body);
  color: var(--text-default);
  user-select: none;
  overflow: hidden;
}
