:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.timeline {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1a1a1a;
  color: #e5e5e5;
  border-top: 1px solid #333;
  user-select: none;
  overflow: hidden;
}
