body {
	font-family: Calibri;
	margin: auto;
	background-color: #FFEEFE;
	max-width: 70%;
}

header {
	margin: auto;
	border-bottom: #95529c solid 5px;
	padding-left: 2%;
	overflow: hidden;
}

#main-desc {
	margin: auto;
	width: 96%;
}

.left-float {
	float: left;
	width: 55%;
	padding-right: 2%;
}

#left-header {
	float: left;
}

#right-header {
	float: right;
	margin-top: 6vh;
}

a {
	color: #d351e0;
}

#quickboard {
	color: #000000;
	text-decoration: none;
}

footer {
	text-align: center;
	border-top: #95529c solid 5px;
	font-style: italic;
}

li {
	margin: 0 0 .5em;
}

#downloads {
	margin: 0 0 2em 0;
	display: flex;
	column-count: 2;
	justify-content: center;
}

#download-options {
	width: 35%;
}

#download-desc {
	margin: 0.5em 0 0 0;
	width: 33%;
}